---
const {
	title = 'SWAT SEO',
	description = 'An SEO Content Team for your Start-up',
} = Astro.props;
import HeaderScripts from '../components/HeaderScripts.astro';
import '../styles/vars.css'
import '../styles/tailwind.css'
---
<HeaderScripts />
<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/favicon_io/site.webmanifest">